            <div class="footer">
                {{ $gitlab   := resources.GetMatch "**/gitlab-32px.png" }}
                {{ $github   := resources.GetMatch "**/github-32px.png" }}
                {{ $linkedin := resources.GetMatch "**/linkedin.png" }}
                {{ $rss := resources.GetMatch "**/rss.png" }}
                <div class="footer__block">
                    <div class="footer__block__element">
                        <ul class="footer__block__element__list">
                            <li class="footer__block__element__list__item">Mail: &nbsp;<a class="normal" href="mailto:inigo@loagie.com">inigo@lowagie.com</a></li>
                            <li class="footer__block__element__list__item">accounts:
                                <a class="footer__block__element__icon" href="https://github.com/ilowagie"><img width="25" src="{{ $github.Permalink }}" alt="?"></a> <!-->TODO: linkedin link with icon<-->
                                <a class="footer__block__element__icon" href="https://gitlab.com/ilowagie"><img width="25" src="{{ $gitlab.Permalink }}" alt="?"></a> <!-->TODO: linkedin link with icon<-->
                                <a class="footer__block__element__icon" href="https://www.linkedin.com/in/inigo-lowagie-0483921b5"><img width="25" src="{{ $linkedin.Permalink }}" alt="?"></a>
                            </li>
                            {{ with .OutputFormats.Get "rss" }}
                                <li class="footer__block__element__list__item">RSS: &nbsp;
                                    <a class="footer__block__element__icon" href="{{ .RelPermalink }}"><img width="20" src="{{ $rss.Permalink }}" alt="?"></a>

                                </li>
                            {{ end }}
                        </ul>
                    </div>
                    <div class="footer__block__element">
                        last updated:
                        <ul class="footer__block__element__list">
                            <li class="footer__block__element__list__item">
                                {{ .Site.LastChange.Format "2006-01-02" }}
                            </li>
                        </ul>
                    </div>
                    <div class="footer__block__element">
                        This website is made with Hugo.<br>
                        The source code can be found @ <br>
                        <a class="footer__block__element__icon" href="https://gitlab.com/ilowagie/personal-hugo-website"><img width="25" class="footer__block__element__icon__img" src="{{ $gitlab.Permalink }}" alt="?"> Gitlab</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
