<!DOCTYPE html>
<html>
    <head>
        {{ partial "head/style.html" }}
        {{ partial "head/meta_tags.html" }}
        <link rel="shortcut icon" type="image/png" href="/mosfet.png"/>
        {{ range .AlternativeOutputFormats -}}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{ end -}}
        <title>{{ block "title" . }}{{ .LinkTitle }}{{ end }}</title>
    </head>

