{{define "main" }}

<div class="content">
    <div class="content-element first-project-element">
        <a class="project-linking" href="{{.Params.gitlink}}">
            {{ $logo := resources.GetMatch (printf "**/%s" .Params.logo) }}
            <span class="project-hosting-logo"><img class="logo--svg" src="{{ $logo.Permalink }}" alt="?"></span><span class="project-link">View project source</span>
        </a>
    </div>

    <div class="content-element">
        {{.Content}}
    </div>
</div>

{{ end }}
