$break-desktop: 920px;
$break-mobile: 520px;

$background-alt: #1D3F84;
$foreground-alt: #EFEFEF;
$secondary: #fc9f14;
$tertiary: #FFB700;
$quartiary: #C92424;
$footer-grey: #444444;
$light-grey: #bbbbbb;

$nav-width: 15%;

html, *{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 95%;
}

html, body, main {
    height: 100%;
}

.highlight {
    margin: 20px;
    padding: 5px;
    border: 2px solid black;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

a {
    color: $background-alt;
    text-decoration: none;
}
a:hover {
    color: $quartiary;
}
a.normal {
    text-decoration: underline;
    color: $foreground-alt;
    &:hover {
        text-decoration: none;
    }
}

code {
    background: #DDDDDD;
}

ul {
    margin-left: 30px;
}

figure {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    & > figcaption {
        & > h4 {
            display: inline;
        }
        & > p {
            &::before {
                content: " - ";
            }
            display: inline;
            text-align: center;
        }
    }
}

.tax-link {
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    background-color: $secondary;
    color: black;
}
.tax-link:hover {
    color: white;
    background-color: $quartiary;
}

//ul {
//    list-style-type: none;
//    li a {
//        color: black;
//        padding: 10px;
//        display: block;
//        border: 2px solid black;
//        width: calc(100% - 5px);
//    }
//    li a:hover {
//        color: white;
//        background-color: $quartiary;
//        border: 5px solid black;
//        padding: 7px;
//        width: calc(100% - 5px);
//    }
//}

.list {
    list-style-type: none;
    &__element {
        margin-bottom: 10px;
        &__link {
            color: black;
            padding: 10px;
            display: block;
            border: 2px solid black;
            width: calc(100% - 5px);
            &:hover {
                color: white;
                background-color: $quartiary;
                border: 5px solid black;
                padding: 7px;
                width: calc(100% - 5px);
            }
        }
    }
}


.homeb {
    display: flex;
    align-items: center;
    border: 2px solid black;
    @media screen and (max-width: $break-desktop) {
        flex-direction: column;
    }
    &__image {
        padding-right: 10px;
        @media screen and (max-width: $break-desktop) {
            padding: 10px 0px 10px 0px;
        }
        height: 150px;
    }
    &__text {
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }
}

.more {
    margin-bottom: 10px;
    margin-right: 20px;
    &__link {
        display: flex;
        @media screen and (max-width: $break-desktop) {
            flex-direction: column;
        }
        &__header {
            flex: 1;
            margin-top: auto;
            margin-bottom: auto;
            padding-right: 10px;
            text-align: right;
            border-right: 2px solid black;
            @media screen and (max-width: $break-desktop) {
                margin-top: 0px;
                margin-bottom: 1em;
                padding-bottom: 1em;
                margin-left: auto;
                margin-right: auto;
                border-right-style: none;
                border-bottom: 2px solid black;
                text-align: center;
            }
            a:hover > & {
                border-color: white;
            }
            &__date {
                font-style: italic;
                color: $light-grey;
            }
            &__title {
                &__series {
                    display: inline;
                    padding: 2px;
                    border: 1px solid black;
                    background-color: $secondary;
                    a:hover > & {
                        background-color: $quartiary;
                    }
                }
            }
        }
        &__summary {
            flex: 3;
            text-align: justify;
            padding-left: 10px;
        }
    }
}


.content-element {
    margin: 10px;
    padding: 10px;
    &__head {
        padding-bottom: 5px;
    }
}

.first-content-element {
    padding-top: 0px;
    font-style: italic;
    color: $light-grey;
}

.last-content-element {
    margin-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 30px;
    border-left: 2px solid black;
}

.first-project-element {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.project-linking {
    display: flex;
    padding: 10px;
    width: 15em;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    color: black;
    &:hover {
        color: black;
        background-color: $light-grey;
    }
}

.project-hosting-logo {
    border-right: 2px solid black;
    display: inline;
    text-align: center;
    padding-right: 10px;
}

.project-link {
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-rows: 4em auto auto auto;
    grid-template-columns: 30% auto;
    @media screen and (min-width: $break-desktop) {
        grid-template-columns: 16% 60% auto;
        grid-template-rows: 6em auto auto 10em;
    }
    @media screen and (max-width: $break-mobile) {
        grid-template-columns: 100%;
        grid-template-rows: 4em 2em auto auto auto;
    }
}

.header-block {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    background-color: $tertiary;
    @media screen and (max-width: $break-mobile) {
        display: none;
    }
}

.header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    @media screen and (min-width: $break-desktop) {
        grid-column-end: 4;
    }
    @media screen and (max-width: $break-mobile) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    border-bottom: 5px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    h1.page-header {
        padding-left: 16px;
        margin: auto;
        font-size: 4em;
        @media screen and (max-width: $break-desktop) {
            font-size: 2em;
        }
        @media screen and (max-width: $break-mobile) {
            text-align: center;
        }
    }
}

.nav {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: $background-alt;
    color: $foreground-alt;
    border-right: 5px solid black;
    @media screen and (max-width: $break-mobile) {
        grid-row-start: 2;
        grid-row-end: 3;
        border-right-style: none;
        border-bottom: 5px solid black;
        font-size: 1em;
    }
    ul {
        margin: 0;
        padding: 0;
        @media screen and (min-width: $break-mobile) {
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: $break-mobile) {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: auto;
            margin-bottom: auto;
            padding-top: .2em;
            padding-bottom: .2em;
        }
        li {
            margin-bottom: 0px;
        }
        li a {
            color: $foreground-alt;
            background-color: $background-alt;
            border-style: none;
            font-weight: 700;
            @media screen and (min-width: $break-mobile) {
                padding: 10px 0px 10px 16px;
                width: calc(100% - 16px);
            }
            @media screen and (max-width: $break-mobile) {
                display: inline;
                padding-top: .2em;
                padding-bottom: .2em;
            }
        }
        li a:hover {
            background-color: $quartiary;
            color: black;
            border: 5px solid black;
            @media screen and (min-width: $break-mobile) {
                padding: 5px 0px 5px 11px;
                border-right-style: none;
                width: calc(100% - 16px);
            }
            @media screen and (max-width: $break-mobile) {
                display: inline;
                padding: .2em 5px .2em 5px;
            }
        }
    }
}

.content {
    padding-right: 10px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    @media screen and (max-width: $break-mobile) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

.fill-grid {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    @media screen and (max-width: $break-desktop) {
        display: none;
    }
}

.other {
    padding-left: 10px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    @media screen and (min-width: $break-desktop) {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 3;
    }
    @media screen and (max-width: $break-mobile) {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    padding: 10px;
    h2 {
        text-align: center;
        padding: 10px;
    }
    &__content {
        padding: 15px;
        padding-right: 0px;
        border-top: 2px solid black;
        &__links {
            padding: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    h3 {
        text-align: left;
    }
    ul {
        li a {
            background-color: $light-grey;
        }
        li a:hover {
            border: 5px solid black;
            background-color: $secondary;
            color: white;
        }
    }
}

.footer {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    @media screen and (min-width: $break-desktop) {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    @media screen and (max-width: $break-mobile) {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    background-color: $footer-grey;
    color: $foreground-alt;
    border-top: 5px solid black;
    &__block {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $break-desktop) {
            flex-direction: column;
            justify-content: center;
        }
        &__element {
            padding: 1em 2em 1em 2em;
            &__list {
                &__item {
                    padding-left: 1em;
                    display: flex;
                    align-items: center;
                }
            }
            &__icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: white;
                border-style: none;
                padding: 5px;
                width: auto;
                &:hover {
                    color: $light-grey;
                    background-color: $footer-grey;
                    border-style: none;
                    padding: 5px;
                    width: auto;
                }
                &__img {
                    padding-right: 5px;
                }
            }
        }
    }
}
