{{define "main" }}

<div class="content">
    <div class="content-element first-content-element">
        <span class="date">Published on {{ .PublishDate.Format "2006-01-02" }}</span>
    </div>
    <div class="content-element">
        {{.Content}}
    </div>

    {{ if isset .Params "series" }}
    {{ $taxo := (index (.Params.series) 0) }}
        <div class="content-element last-content-element">
            <div class="series-div">
                {{ with $.Site.GetPage (printf "/series/%s" $taxo) }}
                This post is part of the <a class="tax-link" href="{{ .Permalink }}">{{ $taxo }}</a> series.
                {{ end }}
            </div>
        </div>
    {{ end }}
</div>

{{ end }}
