{{ partial "head/head.html" . }}

<body>
    <main aria-role="main">
        <div class="grid-container">
            <div class="header-block"></div>
            <header class="home-header header">
                <h1 class="page-header">{{.LinkTitle}}</h1>
            </header>

            <div class="nav">
                <ul class="list nav__list">
                    <li class="list__element"><a class="list__element__link" href="{{.Site.Home.Permalink}}">Home</a></li>
                    {{ range .Site.Sections }}
                        <li class="list__element"><a class="list__element__link" href="{{.Permalink}}">{{.LinkTitle}}</a></li>
                    {{ end }}
                    <!--<li><a href="#">Projects</a></li>-->
                    <!--<li><a href="#">Blog</a></li>-->
                    <!--<li><a href="#">About</a></li>-->
                </ul>
            </div>

            {{ block "main" . }}
            {{ end }}

            <div class="other">
                <h2>Browse Local Content:</h2>
                <div class="other__content">
                    <h3>Technologies:</h3>
                    <div class="other__content__links">
                        {{ range .Site.Taxonomies.technologies }}
                        <a class="tax-link" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                        {{ end }}
                    </div>
                </div>
                {{ if (gt .Site.Taxonomies.series.count 0) }}
                    <div class="other__content">
                        <h3>Blog Series:</h3>
                        <div class="other__content__links">
                            {{ range .Site.Taxonomies.series }}
                            <a class="tax-link" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
                <div class="other__content">
                    <h3>Categories</h3>
                    <div class="other__content__links">
                        {{ range .Site.Taxonomies.categories }}
                        <a class="tax-link" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                        {{ end }}
                    </div>
                </div>
                <div class="other__content">
                    <h3>Content Tags:</h3>
                    <div class="other__content__links">
                        {{ range .Site.Taxonomies.tags }}
                            <a class="tax-link" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>

{{ partial "foot/foot.html" . }}
