{{ define "main" }}

<div class="content">
    {{.Content}}
    <ul class="content-element list">
        {{ range .Pages }}
            <li class="list__element">
                <a class="list__element__link" href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.LinkTitle}}</a>
            </li>
        {{ end }}
    </ul>
</div>

{{ end }}
