{{ define "main" }}

<div class="content">
    <div class="content-element first-content-element">
        {{.Content}}
    </div>
    <ul class="list content-element">
        {{ range .Paginator.Pages.ByPublishDate }}
            <li class="list__element more">
                <a class="list__element__link more__link" href="{{.Permalink}}">
                    <div class="more__link__header">
                        <div class="more__link__header__title">
                            <!--{{ if isset .Params "series" }}-->
                                <!--<div class="more-content-series">-->
                                    <!--{{ index (.Params.series) 0 }}-->
                                <!--</div>-->
                            <!--{{ end }}-->
                            <h2>{{.Params.linktitle}}</h2>{{.Params.series}}
                        </div>
                        <div class="more__link__header__date">Published on {{ .PublishDate.Format "2006-01-02" }}</div>
                    </div>
                    <div class="more__link__summary">{{ .Summary }}</div>
                </a>
            </li>
        {{ end }}
    </ul>
</div>

{{ end }}
