{{ define "main" }}
            
            <div class="content">
                <ul class="content-element">
                    <li class="homeb">
                        {{ $image := (resources.GetMatch "**/Inigo.jpg").Resize "x150" }}
                        <div class="homeb__image">
                            <img src="{{ $image.Permalink }}" alt="?">
                        </div>
                        <div class="homeb__text">
                            {{ .Content }}
                        </div>
                    </li>
                </ul>

                <div class="content-element">
                    <h2 class="content-element__head">Recent Content:</h2>
                    <ul class="list">
                        {{ range last 5 .Site.RegularPages }}
                            <li class="list__element more">
                                <a class="list__element__link more__link" href="{{.Permalink}}">
                                    <div class="more__link__header">
                                        <div class="more__link__header__title">
                                            <!--{{ if isset .Params "series" }}-->
                                                <!--<div class="more-content-series">-->
                                                    <!--{{ index (.Params.series) 0 }}-->
                                                <!--</div>-->
                                            <!--{{ end }}-->
                                            <h2>{{.Params.linktitle}}</h2>{{.Params.series}}
                                        </div>
                                        <div class="more__link__header__date">Published on {{ .PublishDate.Format "2006-01-02" }}</div>
                                    </div>
                                    <div class="more__link__summary">{{ .Summary }}</div>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>

            </div>

            <div class="fill-grid"></div>

{{ end }}
